.res-wrapper {
    background-color: rgb(23, 23, 23);
}

.res-container {
    overflow: hidden;
}

.small-head-span {
    color: var(--orange);
    font-size: 1rem;
}

.big-head-span {
    color: var(--secondary);
    font-size: 2rem;
    font-weight: 900;
}

.res-card {
    gap: 0.6rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    max-width: 17rem;
    transition: all 300ms ease-in;
}

.res-card:hover {
    transform: scale(1.025);
    background: var(--card-gradient);
    box-shadow: 0rem 3rem 5rem rgb(73, 152, 152);
}

.res-card>img {
    width: 100%;
    max-width: 15rem;
    border-radius: 10px;
}

.res-card .res-price {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-name {
    color: var(--black);
}

.card-detail {
    color: gray;
}

.swiper-horizontal {
    overflow: visible;
}